html
head
    link(rel='stylesheet', href='/stylesheet/style.css')
    link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
body
p.t1 About

include menu
<br />
<br />
div.dvM
  img(src="/images/store.jpg" alt="tienda")
div.dvM1
  p.tx2 We pride ourselves on having the widest possible selection of superhero merchandise.<br />
        We carry t-shirts and other products from even the most obscure heroes and villains,<br />
        so obscure that the guys at Marvel and DC probably forgot they exist.<br />
        Find another site out there that has more Batman and Superman gear than we do.<br />
        You can’t. We scour the ends of the earth for this stuff. <br />
        we have personal relationships with our suppliers, so if there’s a problem, we won’t give you the "runaround."<br />
        We’ll do our best to let the manufacturer know that your Thor puffy doll has threads coming out of its head <br />
        or the lead paint flavor of your pint glass doesn’t taste as it should (kidding). <br />
        We ask all our suppliers to meet current safety standards,<br />
        so you can be assured that our products are safe and bursting with fruit flavor.<br />
        Thanks for shopping at deadpoolstore.com. If you have any comments or <br />
        suggestions or if you just want to complain about your job or next door neighbor<br />
        , feel free to let us know and we’ll do anything we can to help. <br />
        Try giving that grump next door a Green Lantern light-up ring and see if that puts a smile on his face?<br />
