html
head
    link(rel='stylesheet', href='/stylesheet/style.css')
    link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
body
p.t1 Blog

include menu
P El personaje de hoy es #{user.name} #{user.surname}
img(src="https://www.heroescomicconvalencia.com/app/uploads/bfi_thumb/salvaspinweb-o4prz8szb19uya0zg0liz9p59drbt41utk7qjiibrg.jpg" alt="salva espin")
p profesion: #{user.career}
