html
head
    link(rel='stylesheet', href='/stylesheet/style.css')
    link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
body
p.t1 Nuestra Historia
include menu

p.tx1 Wade Winston Wilson, más conocido como Deadpool, es un personaje ficticio, mercenario,<br />
  supervillano6​7​ y antihéroe,8​ que aparece en los cómics publicados por Marvel Comics.<br />
  Creado por el artista Rob Liefeld y el escritor Fabian Nicieza, Deadpool apareció<br />
  por primera vez en New Mutants (vol. 1) #98 (1991).<br />
  Como un mercenario mentalmente inestable y desfigurado, Deadpool apareció originalmente<br />
  como un villano en el cómic New Mutants,<br />
  y más tarde en ediciones de X-Force. Desde entonces, el personaje ha protagonizado varias series en curso,<br />
  y comparte títulos con otros personajes,como Cable.<br />
  Conocido como el "Mercenario Bocón" ("Merc with a Mouth" en inglés; "Mercenario Bocazas" en España),<br />
  es famoso por su naturaleza comunicativa y por su tendencia a romper la cuarta pared,<br />
  un recurso utilizado por los escritores para un efecto humorístico.<br />
  Su mayor enemigo es Taskmaster.<br />

  img.im1(src="images/dplove.jpg" alt="deadpool")
