html
head
    link(rel='stylesheet', href='/stylesheet/style.css')
    link(rel='stylesheet', href='/stylesheet/bootstrap.min.css')
body
p.t1 Deadpool Store

include menu

img(src="images/comic.PNG" alt="precios" class="img-fluid")



















//Crea un sitio Web con EXPRESS, con los siguientes elementos:
//La web además de la página de inicio, tenga 5 páginas más, que serían:  About, Servicios, Blog, Nuestra Historia y Contacto*
//La web contenga enlaces a páginas web exteriores*
//El sitio contenga en total 10 rutas como mínimo. En alguna de estas rutas se pueda mandar contenido ( variables ) y // Una ruta de la web se manda un Objeto creado y se muestre su información*
//Una ruta del sitio tenga un formulario para mandar datos que se muestren posteriormente.*
//Tenga otro formulario para mandar datos que se muestren posteriormente en OTRA VISTA.*
