nav
  div
    div.dvM
      a(href="http://localhost:3000/about") About
    div.dvM
      a(href="http://localhost:3000/servicios") Servicios
    div.dvM
      a(href="http://localhost:3000/blog") Blog
    div.dvM
      a(href="http://localhost:3000/historia") Nuestra Historia
    div.dvM
      a(href="http://localhost:3000/contacto") Contacto
  div.clean
