nav
  div
    div.dvM
      a(href="/about") About
    div.dvM
      a(href="/servicios") Servicios
    div.dvM
      a(href="/blog") Blog
    div.dvM
      a(href="/historia") Nuestra Historia
    div.dvM
      a(href="/contacto") Contacto
  div.clean
